body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
}



.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px);
  
  
    .menu-icon {
      position: absolute; 
      left: 30px;
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid white;
      border-radius: 50%;
      padding: 8px;
      font-size: 1rem;
      cursor: pointer;
      color: #e08d39;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-weight: bold;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffd700;
      }
    }
  
 
    .logo {
      font-weight: bold;
      font-family: 'Dancing Script', cursive; 
      font-size: 2rem;
      color: #e08d39;
      text-align: center;
    }
  

    .reservar {
      position: absolute;
      right: 30px;
      font-size: 1.2rem;
      color: #e08d39;
      text-decoration: none;
      transition: color 0.3s ease;
      font-weight: bold;
      &:hover {
        color: #ffd700;
      }
    }
  }
  
 
  @media (max-width: 768px) {
    .navbar {
      padding: 10px 20px;
      .menu-icon {
        left: 15px;
        font-size: 1.5rem;
      }
      .logo {
        font-size: 1.8rem;
      }
      .reservar {
        right: 15px;
        font-size: 1rem;
      }
    }
  }
  

.hero {
    position: relative;
    height: 100vh;
    background: url('imagenes/Back.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    mask-image: linear-gradient(to bottom,white 80%, black); 
    mask-mode: luminance;
  
    .hero-content {
      position: relative;
      z-index: 2;
  
      h1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        transition: transform 0.3s;
        font-family: 'Dancing Script', cursive;
        
        &:hover {
          transform: scale(1.05);
        }
      }
  
      p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        font-family: 'Dancing Script', cursive;
      }
  
      
      .hero-links {
        display: inline-flex;
        gap: 20px; 
        justify-content: center;
      }
  
   
      a.hero-link {
        font-family: Georgia, "Times New Roman", Times, serif;
        position: relative;
        display: inline-block;
        background: transparent;
        border: none;
        padding: 0;
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        transition: transform 0.3s ease, font-size 0.3s ease, font-family 0.3s ease;
  
        
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 30%;          
          height: 2px;
          background-color: white;
          transition: width 0.3s ease, left 0.3s ease;
        }
  
        &:hover {
          
          font-family: Georgia, "Times New Roman", Times, serif; 
  
          &::after {
            width: 100%;  
            left: 0;
            transform: none;
          }
        }
      }
    }
  }
  .card{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .card:hover{
    transform: scale(105%);
  }
.nuestroRestaurante{
  color: burlywood;
  font-family: 'Dancing Script', cursive;
}
.custom-offcanvas {
  background-color: #2e1b0e; 
  color: white;
  width: 250px; 

  .offcanvas-header {
      border-bottom: 1px solid rgb(255, 255, 255);
  }

  .menu-links {
      padding-left: 0;

      li {
          margin: 15px 0;
          
          a {
              color: #f4e1d2; 
              text-decoration: none;
              font-size: 1.2rem;
              display: block;
              padding: 10px;
              transition: color 0.3s ease, transform 0.2s ease;
              
              &:hover {
                  color: #d4a373;
                  transform: translateX(5px);
              }
          }
      }
  }


  .btn-reserva {
      display: inline-block;
      background-color: #e2b024; 
      color: white;
      padding: 10px 80px;
      font-size: 1rem;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
          background-color:#ffc935; 
          transform: scale(1.05);
      }
  }
}
 .btn-close {
            filter: invert(1);
 }
  
  @media (max-width: 768px) {
    .hero {
      .hero-content {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
        a.hero-link {
          font-size: 1rem;
        }
      }
    }
  }
  
  


  
  
  .footer {
    background-color: #222;
    padding: 30px 0;
    text-align: center;
    margin-top: 40px;
  
    h5 {
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: 15px;
    }
  
    p {
      color: #ccc;
      font-size: 0.9rem;
      margin: 5px 0;
    }
  
    a {
      color: #ccc;
      font-size: 1rem;
      transition: color 0.3s ease;
  
  
    }
  
    .fab, .fas {
      margin-right: 8px;
    }
  
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  
  
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
 
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
 
  @media (max-width: 768px) {
   
    #restaurantes {
      padding: 30px 0;
      
      h2 {
        font-size: 2rem;
      
      }
      
      .card {
        margin-bottom: 20px;
      }
    }
    

    .hero {
      .hero-content {
        h1 {
          font-size: 2.5rem;
        }
        
        p {
          font-size: 1rem;
        }
        
        .btn {
          font-size: 1rem;
          padding: 8px 16px;
        }
      }
    }
  }
  .col-md-4 > .card >img{
    height: 100%;
  }
  .col-md-4 > .card {
    height: 100%;
  }
  #restaurantes .row{
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    margin-bottom: 40px;
  }
  #restaurantes{
    height: fit-content;
    width: 90%;
  }
  #padding1{
    padding: 24px;
  }



  .info-restaurante {
   
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
    .info-container {
      width: 70%;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      background: url('imagenes/fondoMantel.jpg') no-repeat center center/cover;
    }
  
    .info-text {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
        color: #D4A373;
        margin-bottom: 15px;
      }
  
      p {
        font-family: 'Arial', sans-serif;
        font-size: 1rem;
        color: #333;
        line-height: 1.5;
      }
    }
  
    .info-carousel {
        flex: 1;
        height: 400px; /* Altura fija */
        overflow: hidden;
      }
      
      .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
        object-position: center; /* Mantiene el centro de la imagen visible */
      }
      
  }
  
  /* Media Query para dispositivos móviles */
  @media (max-width: 768px) {
    .info-restaurante {
      .info-container {
        flex-direction: column;
        width: 90%;
      }
  
      
  
      .info-carousel {
        height: 250px;
        .carousel-item img {
          height: 100%;
          max-height: 250px;
        }
      }
    }
  }

  .info-text {
    
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 4px;
    text-align: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    
    h2 {
      font-family: 'Dancing Script', cursive; /* Fuente elegante */
      font-size: 2.5rem;
      color: #8B4513; /* Marrón oscuro elegante */
      margin-bottom: 15px;
    }
    
    p {
      font-family: 'Arial', sans-serif;
      font-size: 1rem;
      color: #444; /* Texto oscuro para buena legibilidad */
      line-height: 1.5;
      margin-bottom: 15px;
    }
    
    .info-description {
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }
    
    .info-button {
      display: inline-block;
      background-color: #8B4513; /* Botón en marrón elegante */
      color: #fff;
      padding: 12px 25px;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .info-button:hover {
      background-color: #A0522D; /* Un marrón ligeramente más claro o diferente tono para el hover */
      transform: scale(1.05);
    }
  }
  





#carouselBerlin{
    height: 100%;
}
.cajaCarouse{
    height: 100%;
}

  
  